<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a Db2 database
3.  Execute SQL queries to answer assignment questions

Student Name: Luu Quang Vu

Student ID: HE176902

Class: AI1702

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01" target="_blank">Chicago Census Data</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01" target="_blank">Chicago Public Schools</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01" target="_blank">Chicago Crime Data</a>

**NOTE:** Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

**Notice:** Please follow the instructions given in the first Lab of this course to Create a database service instance of Db2 on Cloud.

## Import the `pyodbc` Python library

The `pyodbc` [API ](https://pypi.org/project/pyodbc/) provides a variety of useful Python functions for accessing and manipulating data with SQL Server database, including functions for connecting to a database, preparing and issuing SQL statements, fetching rows from result sets, calling stored procedures, committing and rolling back transactions, handling errors, and retrieving metadata.

We import the pyodbc library into our Python Application

The following required modules are pre-installed in the Skills Network Labs environment. However if you run this notebook commands in a different Jupyter environment (e.g. Watson Studio or Ananconda) you may need to install these libraries by removing the `#` sign before `!pip` in the code cell below.

In [1]:
# The library are pre-installed in anaconda enviroment. If error happen when running please uncomment lines below to install them:
# !pip install pyodbc

In [2]:
import pyodbc
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

When the command above completes, the `pyodbc` library is loaded in your notebook.

## Identify the database connection properties

Connecting to dashDB or DB2 database requires the following information:

*   Driver Name
*   Server
*   Database
*   User ID
*   User Password

In [3]:
#Replace the placeholder values with the actuals for your SQL Server connection properties
Server   = "LC-20171023OUAW"
Database = "Assignment1"
UID      = ""
PWD      = ""

connection_str = ("Driver={SQL Server Native Client 11.0};"
                  "Server=" + Server + ";"
                  "Database=" + Database + ";"
                  "Trusted_Connection=yes;")

# connection_str = ("Driver={SQL Server Native Client 11.0};"
#                   "Server=THAIGIANG-PC\SQLEXPRESS;"
#                   "Database=FPTU-Tutorial;"
#                   "UID=Alex;"
#                   "PWD=Alex123;")
try:
    connection = pyodbc.connect(connection_str)
    print ("Connected to SQL database Server:", Server, "\nDatabase: " + Database)
except pyodbc.Error as ex:
    sqlstate = ex.args[1]
    print ("Unable to connect: ", sqlstate)

Connected to SQL database Server: LC-20171023OUAW
Database: Assignment1

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [4]:
#Enter your code below
query_str = "select count(*) as Total_Crimes from ChicagoCrimeData"

data = pd.read_sql(query_str, connection)
data.head(600)

   Total_Crimes
0           533

### Problem 2

##### List community areas with per capita income less than 11000.

In [5]:
#Enter your code below
query_str = "select COMMUNITY_AREA_NAME from ChicagoCensusData where PER_CAPITA_INCOME < 11000"

data = pd.read_sql(query_str, connection)
data.head(600)

  COMMUNITY_AREA_NAME
0  West Garfield Park
1      South Lawndale
2         Fuller Park
3           Riverdale

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [6]:
#Enter your code below
query_str = "select CASE_NUMBER from ChicagoCrimeData where DESCRIPTION like '%MINOR%'"

data = pd.read_sql(query_str, connection)
data.head(600)

  CASE_NUMBER
0    HL266884
1    HK238408

### Problem 4

##### List all kidnapping crimes involving a child?

In [7]:
#Enter your code below
query_str = "select CASE_NUMBER, PRIMARY_TYPE, DATE, DESCRIPTION from ChicagoCrimeData where PRIMARY_TYPE ='KIDNAPPING'"

data = pd.read_sql(query_str, connection)
data.head(600)

  CASE_NUMBER PRIMARY_TYPE        DATE               DESCRIPTION
0    HN144152   KIDNAPPING  2007-01-26  CHILD ABDUCTION/STRANGER

### Problem 5

##### What kinds of crimes were recorded at schools?

In [8]:
#Enter your code below
query_str = "select distinct(PRIMARY_TYPE), LOCATION_DESCRIPTION from ChicagoCrimeData where LOCATION_DESCRIPTION LIKE '%SCHOOL%'"

data = pd.read_sql(query_str, connection)
data.head(600)

             PRIMARY_TYPE       LOCATION_DESCRIPTION
0                 ASSAULT    SCHOOL, PUBLIC, GROUNDS
1                 BATTERY   SCHOOL, PUBLIC, BUILDING
2                 BATTERY    SCHOOL, PUBLIC, GROUNDS
3         CRIMINAL DAMAGE    SCHOOL, PUBLIC, GROUNDS
4       CRIMINAL TRESPASS    SCHOOL, PUBLIC, GROUNDS
5               NARCOTICS   SCHOOL, PUBLIC, BUILDING
6               NARCOTICS    SCHOOL, PUBLIC, GROUNDS
7  PUBLIC PEACE VIOLATION  SCHOOL, PRIVATE, BUILDING
8  PUBLIC PEACE VIOLATION   SCHOOL, PUBLIC, BUILDING

### Problem 6

##### List the average safety score for each type of school.

In [9]:
#Enter your code below
query_str = "select Elementary_Middle_or_High_School, avg(SAFETY_SCORE) as Average_Safety_Score from ChicagoPublicSchools group by Elementary_Middle_or_High_School"

data = pd.read_sql(query_str, connection)
data.head(600)

  Elementary_Middle_or_High_School  Average_Safety_Score
0                               ES                    49
1                               HS                    49
2                               MS                    48

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [10]:
#Enter your code below
query_str = "select top 5 COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY from ChicagoCensusData order by PERCENT_HOUSEHOLDS_BELOW_POVERTY desc"

data = pd.read_sql(query_str, connection)
data.head(600)

  COMMUNITY_AREA_NAME  PERCENT_HOUSEHOLDS_BELOW_POVERTY
0           Riverdale                         56.500000
1         Fuller Park                         51.200001
2           Englewood                         46.599998
3      North Lawndale                         43.099998
4  East Garfield Park                         42.400002

### Problem 8

##### Which community area is most crime prone?

In [11]:
#Enter your code below
query_str = "select top 1 COMMUNITY_AREA_NUMBER, count(COMMUNITY_AREA_NUMBER) as Crime_Frequency from ChicagoCrimeData group by COMMUNITY_AREA_NUMBER order by count(COMMUNITY_AREA_NUMBER) desc"

data = pd.read_sql(query_str, connection)
data.head(600)

   COMMUNITY_AREA_NUMBER  Crime_Frequency
0                     25               43

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [12]:
#Enter your code below
query_str = "select COMMUNITY_AREA_NAME from ChicagoCensusData where HARDSHIP_INDEX = (select max(HARDSHIP_INDEX) from ChicagoCensusData)"

data = pd.read_sql(query_str, connection)
data.head(600)

  COMMUNITY_AREA_NAME
0           Riverdale

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [13]:
#Enter your code below
query_str = "select COMMUNITY_AREA_NAME from ChicagoCensusData where COMMUNITY_AREA_NUMBER = \
(select top 1 COMMUNITY_AREA_NUMBER from ChicagoCrimeData group by COMMUNITY_AREA_NUMBER order by count(COMMUNITY_AREA_NUMBER) desc)"

data = pd.read_sql(query_str, connection)
data.head(600)

  COMMUNITY_AREA_NAME
0              Austin

Copyright © 2020 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>

## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
| 2021-11-17 | 2.6     | Lakshmi           | Updated library                                |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>